- if @recipe.errors.any?
  .alert.alert-danger
    %h3= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
    %ul
      - @recipe.errors.full_messages.each do |msg|
        %li= msg

= simple_form_for(@recipe, html: { class: "form-horizontal", novalidate: true }) do |f|
  .form-group.row
    .col-md-3
      = f.input :image, as: :file, input_html: { class: "form-control" }

  .form-group.row
    .col-md-3
      = f.input :category_id, :collection => Category.all, :label_method => :name, :value_method => :id, :label => "Categories", :prompt => "-- Select Category --", class: "form-control"

  .form-group.row
    .col-md-12
      = f.input :title, label: "What's the name of your recipe ?", input_html: { class: "form-control" }
  
  .form-group.row
    .col-md-12
      = f.input :description, as: :text, label: "Tell us a few words about your recipe", input_html: { class: "form-control", rows: 4 }

  .row
    .col-md-5
      %h4 Ingredients
      #ingredients
        = f.simple_fields_for :ingredients do |ingredient|
          = render "ingredient_fields", f: ingredient
        .links
          = link_to_add_association "Add", f, :ingredients, class: "btn btn-xs btn-success"

    .col-md-5.col-md-offset-1
      %h4 Directions
      #directions
        = f.simple_fields_for :directions do |direction|
          = render "direction_fields", f: direction
        .links
          = link_to_add_association "Add", f, :directions, class: "btn btn-xs btn-success"
  
  %br
  .form-group.row
    .col-md-12
      = f.button :submit, btn_text, class: "btn btn-primary"
