%h1.page-header Delete: #{@recipe.title}

= simple_form_for @recipe, url: recipe_path, method: :delete, html: { novalidate: true } do |f|
  
  .alert.alert-warning
    %p 
      You are about to delete this recipe.
      Note that this action cannot be undone. 
      Are you sure want to proceed?
    %p 
      %strong Recipe: #{@recipe.title}

  .form-group
    = f.button :submit, "Yes, Delete it!", class: "btn btn-danger btn-lg"
    = link_to "No, I've changed my mind", recipes_path, class: "btn btn-success btn-lg"