.row
  %section.col-md-9
    - @recipes.each_slice(3) do |recipes|
      .row
        -recipes.each do |recipe|
          .col-md-4.text-center
            
            = link_to (image_tag recipe.image.url, class: "img-thumbnail"), recipe if recipe.image.exists?
            
            %h3= link_to recipe.title, recipe
            
            %p= recipe.category.name
            
            = simple_format recipe.description
            
            .btn-group
              = link_to "Read more", recipe, class: "btn btn-sm btn-default"
              - if user_signed_in?
                = link_to "Edit", edit_recipe_path(recipe), class: "btn btn-sm btn-warning" if policy(recipe).edit?
                = link_to "Destroy", delete_recipe_path(recipe), class: "btn btn-sm btn-danger" if policy(recipe).delete?
  %aside.col-md-3
    = render "application/sidebar"
