.row
  %section.col-md-9
    %h1.page-header #{@recipe.title}

    %p Category: #{@recipe.category.name} &bull; Made by #{@recipe.user.name} on #{@recipe.created_at.strftime("%d %B %Y, %H:%M")}

    = image_tag @recipe.image.url, class: "img-thumbnail" if @recipe.image.exists?

    %p
      %strong Description:
      %br
      = simple_format @recipe.description

    .row
      .col-md-3
        %h4 What do you need
        %ul
          - @recipe.ingredients.each do |ingredient|
            %li= ingredient.name

      .col-md-5.col-md-offset-1
        %h4 How to cook it
        %ol
          - @recipe.directions.each do |direction|
            %li= direction.step

    %p.lead Bon appétit!

    .btn-group
      = link_to "Back", recipes_path, class: "btn btn-default"
      - if user_signed_in?
        = link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-warning" if policy(@recipe).edit?
        = link_to "Delete", delete_recipe_path, class: "btn btn-danger" if policy(@recipe).delete?
  %aside.col-md-3
    = render "application/sidebar"
