= simple_form_for(@category, html: { class: "form-horizontal", novalidate: true }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name

  .form-group
    = f.button :submit, class: "btn btn-primary"
