%h1.page-header Delete: #{@category.name}

= simple_form_for @category, url: category_path, method: :delete, html: { novalidate: true } do |f|
  
  .alert.alert-warning
    %p 
      You are about to delete this category.
      Note that this action cannot be undone. 
      Are you sure want to proceed?
    %p 
      %strong Recipe: #{@category.name}

  .form-group
    = f.button :submit, "Yes, Delete it!", class: "btn btn-danger btn-lg"
    = link_to "No, I've changed my mind", categories_path, class: "btn btn-success btn-lg"