.row
  .col-md-6.col-md-offset-3
    
    = link_to 'New Category', new_category_path, class: "btn btn-primary pull-right"

    %h1.page-header Listing categories

    %table.table.table-hover
      %thead
        %tr
          %th Name
          %th

      %tbody
        - @categories.each do |category|
          %tr
            %td= category.name
            %td
              .btn-group
                = link_to 'Show', category, class: "btn btn-sm btn-default"
                = link_to 'Edit', edit_category_path(category), class: "btn btn-sm btn-warning"
                = link_to 'Destroy', delete_category_path(category), class: "btn btn-sm btn-danger"
