
.row
  .col-md-6.col-md-offset-3
    %h1.page-header= @category.name

    .btn-group
      = link_to "Back", categories_path, class: "btn btn-default"
      = link_to "Edit", edit_category_path(@category), class: "btn btn-warning"
      = link_to "Delete", delete_category_path, class: "btn btn-danger"
