%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path} RailsCooking
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          = link_to "Recipes", root_path
        %li
          = link_to "New Recipe", new_recipe_path
        -if user_signed_in? && current_user.role.name == "admin"
          %li
            = link_to "Categories", categories_path
      %ul.nav.navbar-nav.navbar-right
        -if user_signed_in?
          %li
            = link_to "Logged in #{current_user.name}", edit_user_registration_path
          %li
            = link_to "Logout", destroy_user_session_path, :method => :delete
        -else
          %li
            = link_to "Login", new_user_session_path
          %li
            = link_to "Register", new_user_registration_path
