- if @categories.any?
  .list-group
    = link_to "All recipes", root_path, class: "list-group-item active"
    - @categories.each do |category|
      = link_to category.name, recipes_path(category: category.id), class: "list-group-item"
