!!! 5
%html
  %head
    %title RailsCooking
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  
  %body

    = render "nav"
    
    %section.main.container
      
      = render "flash"

      = yield
    
    %footer.footer
      .container
        %p.text-muted &copy; RailsCooking
    
    = javascript_include_tag 'application', 'data-turbolinks-track' => true